/* Your custom styles goes here */
body {
    background: #545b30;
    color: #dfdac8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 1em;
}
div.date,nav.breadcrumbs{display:none !important;}
a {
  color: 668068; /* 設定超連結的文字顏色 */
}
